***class5***

In [ ]:
# Files
# Read mode
# Write mode
# Append mode

In [ ]:
file = open('a.txt','r')
print(file.read())

In [ ]:
file.close()

In [ ]:
file = open('b.txt','w')
file.write('this is written by me :)')
file.close()

file = open('b.txt','r')
print(file.read())
file.close()

this is written by me :)

In [ ]:
file = open('b.txt','a')
file.write('\nappending further text')
file.close()

fileRead = open('b.txt','r')
print(fileRead.read())

this is written by me :)
appending further text

In [ ]:
# using WITH keyword
with open('b.txt','r') as file1 :
  print(file1.read())

In [ ]:
myLines = ['\ndata \n','details \n','task \n']

with open('b.txt','a') as fileWrite:
  fileWrite.writelines(myLines)

fileWrite = open('b.txt','r')
print(fileWrite.read())

this is written by me :)
appending further text

data
details
task

data
details
task

data
details
task

data
details
task

data
details
task

***class6***

In [ ]:
def _a_(name,no):
  print('Hello '+ name +'Your roll no is : ' , no)

_a_('sinch',43)

Hello sinchYour roll no is :  43

In [ ]:
# Advanced argument passing
# Positional Arguments
def arg(name,city,batch):
  print('my name is : '+ name + ' from -->', city , 'belongs to the MARCH batch', batch)

arg('sinch','dvg',2023)

my name is : sinch from --> dvg belongs to the MARCH batch 2023

In [ ]:
# Keyword Arguments
def arg(name,city,batch):
  print('my name is : '+ name + ' ,from -->', city , ', belongs to the MARCH batch', batch)
  print(type(name))

arg(name = 'sinch', city = 'dvg', batch = 2023)

arg(name = 'sinch', batch = 2023, city = 'dvg')

my name is : sinch ,from --> dvg , belongs to the MARCH batch 2023
<class 'str'>
my name is : sinch ,from --> dvg , belongs to the MARCH batch 2023
<class 'str'>

In [ ]:
# Default Arguments
def arg(name = 'Jerry',city = 'dvg',batch = 2023):
  print('my name is : '+ name + ' ,from -->', city , ', belongs to the MARCH batch', batch)

arg()
arg('Tom')

my name is : Jerry ,from --> dvg , belongs to the MARCH batch 2023
my name is : Tom ,from --> dvg , belongs to the MARCH batch 2023

In [ ]:
# Default Arguments
def arg(name = 'Jerry',city = 'dvg',batch = 2023):
  print('my name is : '+ name + ' ,from -->', city , ', belongs to the MARCH batch', batch)

arg(batch = 2024)
arg(2020)

In [ ]:
# Slicing
s = 'python course'
print(s[0:2])
print(s[0:6])
print(s[:6])
print(s[6:])

print(s[-13:-7])
print(s[-6:-13:-1])

print(s[-6:])
print(s[:-6])

print(s[0::2])

py
python
python
 course
python
c nohty
course
python
pto ore

***CLASS7***  *`IMP`*

In [ ]:
# N number of arguments ( *args --> when u don't know the exact number of arguments , we use *args )
def details(Teacher,*args):      # when u don't know the arguments order of students --> which is first,second ... etc  ---->  use  -->  *variable
  print('The teacher name is : ',Teacher)
  for roll_no in args:
    print('The student roll no is : ',roll_no)

details('Santosh',43,44,45,'hi')

The teacher name is :  Santosh
The student roll no is :  43
The student roll no is :  44
The student roll no is :  45
The student roll no is :  hi

In [ ]:
# To print in sorted order
def details(Teacher,*args):      
  print('The teacher name is : ',Teacher)
  s_args = sorted(args)
  for roll_no in s_args:
    print('The student roll no is : ',roll_no)

details('Santosh',43,44,45,12,7,3,2)

The teacher name is :  Santosh
The student roll no is :  2
The student roll no is :  3
The student roll no is :  7
The student roll no is :  12
The student roll no is :  43
The student roll no is :  44
The student roll no is :  45

In [ ]:
# with keywords and arguments :
def details(Teacher,*args,**kwargs):     # **kwargs  --->   keyword = argument
  print('The teacher name is : ',Teacher)
  for roll_no in args:
    print('The student roll no is : ',roll_no)
  for subject in kwargs:
    print(subject ,kwargs[subject])  

details('Santosh',43,44,45,'hi',python = 100, webdev = 500, datascience = 700, cpp = 650)

The teacher name is :  Santosh
The student roll no is :  43
The student roll no is :  44
The student roll no is :  45
The student roll no is :  hi
python 100
webdev 500
datascience 700
cpp 650

In [ ]:
# Iterators --> an object that contains a countable number of values 
# Iter and next methods --> are 2 methods used in Iterators

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(list1[0])   # consumes space

1

In [ ]:
myIteration = iter(list1)

print(next(myIteration))

1

In [ ]:
# Interesting 💡
list2 = [11,22,33,44,55]
myIter = iter(list2)
print(next(myIter))
print(next(myIter))

11
22

In [ ]:
print(next(myIter))
print(next(myIter))

33
44

In [ ]:
seq = 'hello-there'

for x in seq:
  print(x)

h
e
l
l
o
-
t
h
e
r
e

In [ ]:
seq = 'hello-there'

myiter = iter(seq)
print(next(myiter))

h

In [ ]:
print(next(myiter))
print(next(myiter))
print(next(myiter))

-
t
h

In [ ]:
# to get index of string

seq = 'hello-there'

print(seq.index('r'))
print(seq.index('e'))

9
1

In [ ]:
print(seq.index('i'))

ValueError: ignored

In [ ]:
print(seq.index('e',4))

8

In [ ]:
b = [11,22,33,11,22]
print(b.index(11,2,4))            # 11 in the range of 2 and 4

3

In [ ]:
# print the larget value is a set
# print smallest value in tuple

In [ ]:
mySet = {1,2,3,4,5,6,7}

print(max(mySet))
print(min(mySet))

mySet.remove(5)
print(mySet)

7
1
{1, 2, 3, 4, 6, 7}

In [ ]:
# create an input and take some random numbers and then sort them into 2 list as even and odd numbers

In [ ]:
n = int(input('enter size '))
print('n = ',n)

evenList = []
oddList = []

for i in range (n) :
  val = int(input('enter value : '))
  if (val % 2) == 0 :
    evenList.append(val)
  else :
    oddList.append(val)  

print('Even numbers are : ',evenList)
for i in evenList :
  print(i)

print('odd numbers are : ',oddList)
for i in oddList :
  print(i)

enter size 4
n =  4
enter value : 11
enter value : 22
enter value : 33
enter value : 44
Even numbers are :  [22, 44]
22
44
odd numbers are :  [11, 33]
11
33

In [ ]:
def splitEvenOdd(A):
  evenList = []
  oddList = []

  for i in A:
    if (i % 2 == 0 ):
      evenList.append(i)
    else :
      oddList.append(i)  

  print('even numbers are : ',evenList)
  print('odd numbers are : ',oddList)

A = []   # or   --->  A = list()
n = int(input('enter size '))
print('n = ',n)

for i in range (n) :
  A.append(int(input('Enter value : ')))

splitEvenOdd(A)

enter size 4
n =  4
Enter value : 11
Enter value : 22
Enter value : 33
Enter value : 44
even numbers are :  [22, 44]
odd numbers are :  [11, 33]

***CLASS 8***

In [ ]:
# Exception handling in python  :  u r going to handle the error in better way
# 1. Syntax   --> Name Errors
# 2. Logical Error --> mathematical Errors

# 2 clauses used are :
# 1. try
# 2. except

In [ ]:
try :
  print(c)
except : 
  print('an error occured')

an error occured

In [ ]:
list1 = [1,23,0,45,56,7,8,9]
try : 
  print(list1[0])
  print(list1[10])
  print(list1[3])
except :
  print('Invalid Index')

1
Invalid Index

In [ ]:
import sys

try:
  x = open('file.txt','r')
  print(x.read())
  print(x.readlines())
except :
  print('file does not exist')

hello there
I'm file.txt
[]

In [ ]:
import sys

try:
  x = open('b.txt','r')
  print(x.read())
except :
  print('file does not exist')    
finally :
  print('the task is partially completed')

file does not exist
the task is partially completed

In [ ]:
try :
  raise NameError('abcd')
except :
  print('an error occured')
  raise

an error occured

NameError: ignored

In [ ]:
try :
  raise ZeroDivisionError('abcd')
except :
  print('an error occured')
  raise

an error occured

ZeroDivisionError: ignored

In [ ]:
try :
  raise TypeError('abcd')
except :
  print('an error occured')
  raise

an error occured

TypeError: ignored

In [ ]:
x = 5
y = 0
try :
  z = x/y
except :
  print('y cannot be zero')

y cannot be zero

In [ ]:
# Comprehension  --> the task can be implemented in a short and precise way

# 4 types of comprehension
# list
# dictionary
# set
# generator

In [ ]:
#1. list

myIterList = [1,23,4,5,6,7,8]

In [ ]:
# basic way
evenList = []

for x in myIterList :
  if x % 2 == 0 :
    evenList.append(x)

print(evenList)

[4, 6, 8]

In [ ]:
# list comprehension --->  # methods can be implemented in a more short and precised way 
myList = [11,22,33,44,55,66,77,88]

# [---> 3. val --->       1. for val in myList ---->    2. if val % 2 == 0] 

evenno = [val for val in myList if val % 2 == 0]
print(evenno)

[22, 44, 66, 88]

In [ ]:
# Basic dictionary 
# empty dictionary to get filled by list values

# myList = [11,22,33,44,55,66,77,88]

myDic = {}

for y in myList :
  myDic[y] = y*3

print(myDic)

{11: 33, 22: 66, 33: 99, 44: 132, 55: 165, 66: 198, 77: 231, 88: 264}

In [ ]:
#2. Dictionary comprehension
myDic2 = {y:y*3 for y in myList }

print(myDic2)

{11: 33, 22: 66, 33: 99, 44: 132, 55: 165, 66: 198, 77: 231, 88: 264}

***`CLASS 9`***

---

\

In [ ]:
myList = [1,2,3,4,5,6,7,8,2,2,3,3,4]

mySet = set()

for x in myList :
  mySet.add(x)

print(mySet)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#3. Set comprehension
mySet1 = {x for x in myList}

print(mySet1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# 4. GENERATOR Comprehension ---> generating the value (the value will be generated using yield keyword)
# next function will print the value
def gen(x):
  print('the values are :')
  yield x+10-x
  yield 10*x
  yield 30*x

y = gen(8)
print(next(y))
print(next(y))

the values are :
10
80

In [ ]:
print(next(y))

240

In [ ]:
def gen(x):
  print('the values are :')
  yield x+10-x
  yield 10*x
  yield 30*x

# y = gen(8)
for y in gen(2):
  print(y)

the values are :
10
20
60

In [ ]:
# yield will be helping to generate a value
# return will be sending the data back as a result

# difference between yield and return is : code will return (run) after yield . code will not run after return func.

def a(b):
  return b

a('the task is completed.')

'the task is completed.'

In [ ]:
# basic fun

def add(a,b):
  print(a+b)

add(2,3)

5

In [ ]:
# LAMBDA function --> anonymous function. function can take any number of parameters

In [ ]:
x = lambda x:x+10
print(x(10))

20

In [ ]:
x1 = lambda x,uy,z:x+uy+z
print(x1(3,4,4))

print((x1)(3,4,4))

11
11

In [ ]:
print((lambda a,b,c:a+b+c+3) (1,2,3))

9

In [ ]:
list1 = [lambda x=x:x*10 for x in range(1,11)]
for i in list1:
  print(i())

10
20
30
40
50
60
70
80
90
100

In [ ]:
list1 = [lambda x=x:x*5 for x in range(1,6)]          #1. for x in range(1,6)       2. x=x:x*5   [  2.a.  x:  ]     3. list1 = []
for i in list1:
  print(i(3))

15
15
15
15
15

In [ ]:
y = lambda a,b : a if (a>b) else b
print(y(3,2))

3

In [ ]:
tables = [lambda x = x:x+10 for x in range(1,11)]
for z in tables:
  print(z(3))

13
13
13
13
13
13
13
13
13
13

In [ ]:
tables = [lambda x = x:x+10 for y in range(1,11)]
for z in tables:
  print(z(3))

13
13
13
13
13
13
13
13
13
13

In [ ]:
tables = [lambda x = y:x+10 for y in range(1,11)]
for z in tables:
  print(z(3))

13
13
13
13
13
13
13
13
13
13

In [ ]:
m = lambda x,y : x if x>y else y
a,b=[int(n) for n in input('enter two numbers : ').split(',')]
print('Bigger number is : ',m(a,b))

enter two numbers : 10,30
Bigger number is :  30

#                                   **STRING FORMATTING**

# 1. operators
# 2. format
# 3. fstring
# 4. string template class

In [ ]:
# string formatting


# operators
print('Hello %s, Welcome all' %'CLASS')

Hello CLASS, Welcome all

In [ ]:
print("Hello %sWelcome %s" %("CLASS \n",'ALL'))

Hello CLASS
Welcome ALL

In [ ]:
# format method

print("Hello {1} Welcome {0}" .format("CLASS \n",'ALL'))

Hello ALL Welcome CLASS

***CLASS 10***


---

In [ ]:
print('%(Company)s is a %(Department)s Portal.' %{'Company' : 'GFG', 'Department' : 'CS'})

GFG is a CS Portal.

In [ ]:
geopoint = {'latitude' : 41.123, 'longitude' : 71.091}
print('{longitude} {latitude}'.format(**geopoint))

print('{latitude} {longitude}'.format(**geopoint))

71.091 41.123
41.123 71.091

In [ ]:
print('Hello : {a}'.format(a='Tom'))

Hello : Tom

In [ ]:
# fstring  --->  used to embed values into a string

# f

In [ ]:
num1 = 10
num2 = 29

print(f'the sum of 2 values are : {num1+num2}')

the sum of 2 values are : 39

In [ ]:
a = 10 ** 3
print(f'the value of a is : {a}')

the value of a is : 1000

# Modules

In [ ]:
import math
print(math.sin(1))

0.8414709848078965

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
print(math.cos(90))

-0.4480736161291701

In [ ]:
import datetime

data = datetime.datetime.now()
print(data)

2023-03-21 11:15:24.317345

In [ ]:
from datetime import datetime as date
b=date.now()
print(b)

2023-03-21 11:19:55.535034

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%a')      # time is converted into string format
print(a)

Tue

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%A')      
print(a)

Tuesday

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%b')      
print(a)

Mar

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%B')      
print(a)

March

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%c')      
print(a)

Tue Mar 21 11:33:04 2023

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%C')      
print(a)

20

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%m')      # gives month
print(a)

03

In [ ]:
from datetime import datetime as date
b=date.now()
a = b.strftime('%M')      # gives minites
print(a)

34

In [ ]:
import module1

module1.a('Sinch','Hello')

Hello Sinch

# Regular Expression

In [ ]:
# Regular Expression  --->  is a sequence of character thst forms a search pattern
# Search

import re

a = 'Hello , you are welcome'

In [ ]:
import re

a = 'Hello , you are welcome'
b = re.search('you are',a)
print('Starting index number : ',b.start())
print('Ending index number : ',b.end())
print(b.group())
print(b.span())

Starting index number :  8
Ending index number :  15
you are
(8, 15)

In [ ]:
# Sub --->  replacing the "white space" with the number or a character

a = 'Hello , you are welcome'
c = re.sub('\s','and',a)
print(c)

Helloand,andyouandareandwelcome

In [ ]:
a = 'Hello , you are welcome'
c = re.sub('\s','#',a)
print(c)

Hello#,#you#are#welcome

In [ ]:
d = '#Hello#,#you#are#welcome#'

e = re.split('#',d)
print(e)

['', 'Hello', ',', 'you', 'are', 'welcome', '']

In [ ]:
d = '#hi#hello#Hello#,#you#are#welcome'

e = d.split('#',4)      # upto 4t #'s   --->   only splited
print(e)

['', 'hi', 'hello', 'Hello', ',#you#are#welcome']

In [ ]:
data = 'Welcome all 12346'
match = re.findall('\d',data)         # get numbers
print(match)

['1', '2', '3', '4', '6']

In [ ]:
data = 'Welcome all 12346a3@55'
match = re.findall('\d+',data)      # combine all together
print(match)

['12346', '3', '55']

In [ ]:
d = ' and hi and hello and Hello and , and you and are and welcome'

e = re.split('and',d)      
print(e)

[' ', ' hi ', ' hello ', ' Hello ', ' , ', ' you ', ' are ', ' welcome']

In [ ]:
d = ' and hi and hello and Hello and , and you and are and welcome'

e = d.split('and',4)      # upto 4t and's   --->   only splited
print(e)

[' ', ' hi ', ' hello ', ' Hello ', ' , and you and are and welcome']

***CLASS 11***

In [ ]:
# OOPS : Object Oriented programming language
# few fundamental concepts
# class       ---> like blueprint (of room)
# object      --->room
# inheritance
# polymorphism

In [ ]:
class myLaptop():
  # attribute -> a variable that can be defined inside a class and are shared by all objects of the class
  processor = 'Intel I5'
  display = 'Full HD'

In [ ]:
obj1 = myLaptop()
obj2 = myLaptop()
obj3 = myLaptop()

print(obj1.processor)
print(obj2.display)
print(obj3.processor)

myLaptop.processor='Intel I7'

print(obj1.processor)

obj2.processor='Intel I9'
print('obj2 : ',obj2.processor)

Intel I7
Full HD
Intel I7
Intel I7
obj2 :  Intel I9

In [ ]:
class myLaptop():
  # attribute -> a variable that can be defined inside a class and are shared by all objects of the class
  processor = 'Intel I5'  # these attributes "value" remains same for all the respected objects
  display = 'Full HD'

  # instance attribute (e.g : color) ---> is a variable that belongs to only one objects
  # TO create instance attribute , use  the "syntax" as shown below
  # def __init__(self , <any_attribute(s)>): 
  def __init__(self,color):
    self.color = color      # these attributes "value" are different for all the respected objects (values are sent as parameters,while creating objects)

  # def a():  # gives error
  #   print("Hello and welcome all !")

  # method
  def a(self):  
    print("Hello and welcome all !")

  # inheritance
class myMobile(myLaptop):         # sub class --> child class ---> inheriting parent class "myLaptop"
  def __init__(self,color,camera):
    self.camera = camera
    myLaptop .__init__(self,color)      # to initiate the Parent Class

In [ ]:
obj3 = myLaptop('Grey')

print(obj3.color)

obj3.a()

Grey
Hello and welcome all !

In [ ]:
object1 = myMobile("white","Canon")
print(object1.processor)
print(object1.camera)
print(object1.color)

Intel I5
Canon
white

In [ ]:
# Encapsulation
# ---> i.e. hide the data
# ---> bundle the data inside one sngle unit
# when u don't want others to access the data

# for Encapsulation we use 2 methods 
# 1. Private
# 2. Public   (normal method)

# general way
class data():
  def __init__(a,username,password):      # a = self   ( a or self )
    a.username = username
    a.password = password

In [ ]:
obj = data('Admin','pass123')
print(obj.username)
print(obj.password)

Admin
pass123

In [ ]:
# Encapsulation

class data():
  def __init__(a,username,password):      # a = self   ( a or self )
    a.username = username
    a.__password = password         # private method
  def access(a):
    print(a.__password)             # hiding the data

In [ ]:
obj = data('Admin','pass123')
print(obj.username)
obj.access()

Admin
pass123

In [ ]:
# Polymorphism ---> many forms

class Bird():             # Main Class
  def intro(self):
    print("There are different types of birds")
  def fly(self):
    print("Most of the birds can't fly")

In [ ]:
class parrot(Bird):       # Sub Class
  def fly(self):
    print("Parrot can fly")

class penguin(Bird):
  def fly(self):
    print("Penguin can't fly")

In [ ]:
o1 = Bird()
o2 = parrot()
o3 = penguin()

o1.fly()
o2.fly()
o3.fly()

Penguin can't fly
Parrot can fly
Penguin can't fly

***CLASS 12***

In [ ]:
# Python decorators  --->  will allow users to modify or add new functionality to an existing object without modifying the structure
#                    --->  used to print data in a better (or other) way
def greet():
  print('Good evening all')

In [ ]:
greet()

greetme = greet()
greetme

Good evening all
Good evening all

In [ ]:
def increment(num1):
  return num1+10
def decrement(num1):
  return num1-10

In [ ]:
def incdec(func,num1):        # 
  result = func(num1)
  return result
incdec(increment,7)  
incdec(decrement,7)

-3

In [ ]:
def simple():
  print('Hello and welcome all')

In [ ]:
def special(func):
  def a():
    print('Introduction to python decorators')
    func()
  return a()

special(simple)

Introduction to python decorators
Hello and welcome all

In [ ]:
import pygame

pygame 2.3.0 (SDL 2.24.2, Python 3.9.16)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [ ]:
import pygame     # pygame => framework

In [ ]:
import pygame 
pygame.init() 

window=pygame.display.set_mode((900,700)) 
pygame.display.set_caption("My new game") 

icon=pygame.image.load("icon.png") 
pygame.display.set_icon(icon) 

spaceship-pygame.image.load("icon.png") 
spaceship_x=200 
spaceship_y=300 

def display_spaceship(x,y): 
	window.blit(spaceship, (x,y)) 
bg=pygame.image.load("Background.jpg") 

gameon=True 
while gameon: 
	window.blit (bg, (0,0))

	for even in pygame.event.get(): 
		if even.type==pygame.QUIT: 
			gameon=False 

	keys = pygame.key.get_pressed() 
	if keys [pygame.K_LEFT]: 
		spaceship_x-=1 
	if keys [pygame.K_RIGHT]: 
		spaceship_x+=1 
	if keys [pygame.K_UP]: 
		spaceship_y+=1 
	if keys [pygame.K_DOWN]: 
		spaceship_y-=1 

	display_spaceship (spaceship_x, spaceship_y)
	pygame.display.update() 

pygame.quit()

error: ignored